

.buttonStyle {
  border-radius: 20px;
  background-color:var(--secondray-maincolor) ;
  color: white;
  padding: 15px 20px;
  border-style: none;
  font-size: large;
  margin-top: 10px;
  cursor: pointer;
}




/* ######################who am i######################## */
/* .video{
  width: 100%;
  height: 100%;
  object-fit: cover;

} */
.backgroundimage{
  background:linear-gradient( #000000bd,#424242),url("../public//assets/images/pexels-antonio-borriello-1297611.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  z-index: -1;
  color: white;
  overflow: hidden;
 
}
/* .overlay{
  
  background-color: black;
  width: 100%;
  height: 100VH;
  z-index: 2;
  position: absolute;
  opacity: .6;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: WHITE;


} */

.containertext {
  display: inline-block;
}
.typedout{
    overflow: hidden;
    border-right: .15em solid white;
    font-size:40px;
    width: 0;
    white-space: nowrap;
    animation: typing 4s steps(20, end) infinite ;
    
    color:var(--secondray-maincolor);
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


/* #########################about################# */
/* ##################skills############### */
/* ################project############# */
/* #############contact##############3 */
