

.buttonStyle {
  border-radius: 20px;
  background-color:var(--secondray-maincolor) ;
  color: white;
  padding: 15px 20px;
  border-style: none;
  font-size: large;
  margin-top: 15px;
  cursor: pointer;
}

.spancolor{
  color:var(--secondray-maincolor)
}
.redbox{
  background-color: red;
  width:"100px";
  height: 100px;
}



/* ######################who am i######################## */
/* .video{
  width: 100%;
  height: 100%;
  object-fit: cover;

} */
.backgroundimage{
  background: linear-gradient( #000000de,
  #1b1b1b) ,url('../public/assets/images/abstract-futuristic-background-with-3d-design.jpg');
  /* background: linear-gradient(to right, #4286f4, #373B44); */

  /* background:linear-gradient( #000000bd,#424242); */

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  z-index: -1;
  color: white;
  overflow: hidden;
 
}
.contactionbox{
  position: absolute;
  display: flex;
  justify-content: center;
  /* top: 75%; */
  right: 50px;
  bottom: 30px;
  gap: 15px;
  
}
@media only screen and (max-width: 600px) {
  .contactionbox {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0px;
    right: 20%;
    gap: 15px;
  
  }

  
}
.icon{
  background-color: white;
}
.icon:hover{
  background-color: var(--secondray-maincolor);
  color: white;
  transition: all .5s ease-in-out;
  transform: translateY(-10px);
}
/* .overlay{
  
  background-color: black;
  width: 100%;
  height: 100VH;
  z-index: 2;
  position: absolute;
  opacity: .6;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: WHITE;


} */

.containertext {
  display: inline-block;
}
.typedout{
    overflow: hidden;
    border-right: .15em solid white;
    font-size:40px;
    width: 0;
    white-space: nowrap;
    animation: typing 4s steps(20, end) infinite ;
    color:var(--secondray-maincolor);
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


/* #########################about################# */
.aboutbackground{
  background: linear-gradient(to left, #1c1d24 70%, #43434338 30%);

}
.photobox{
  position: relative;
  border:10px solid #dc965a;
  
  

}
.photo{
  position: absolute;
  /* bottom: -30px;
  right: -30px; */
  bottom: -30px;
  right: -30px;
  cursor: pointer;
  

}
.photo:hover{
  animation: photomove 1s  both;

}
@keyframes photomove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(-30px,-30px);

  }
}
/* ##################skills############### */

.slider{
  position: relative;
  overflow: hidden;
  width: 100%;
  

}
.slideTrack{
  margin: 70px 0px;
  width: calc(80px * 7);
  /* perspective: 200px; */
  animation: scroll 10s linear  infinite normal;
  
  
}
.slideTrack:hover{
  animation-play-state: paused;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);

  }
}



.paper{
  transition: transform 1s;
  cursor: pointer;
  box-shadow: rgba(245, 101, 57, 0.3) 0px 0px 30px;

}
.paper:hover {
  /* transform: translateZ(20px); */
  transform: scale(1.2);
}

/* ################project############# */
/* .projectCard{
  box-shadow:rgba(245, 101, 57, 0.3) 0px 0px 30px;
} */
.imageCard{
  position: relative;
  overflow: hidden;
}
.imageCard::before{
  position: absolute;
  content: "";
  width: 100%;
  background-color: rgba(138, 130, 130, 0.432);
  height: 100%;
  top:-100%;
  left: 0px;
  z-index: 1;
  transition: all 1s ease-in-out;
  
}
.textCard{
  
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 30;
  left: -150px;
  top:10px;
  background-color: #1d1d1d;
  color: white;
  transition: all 1s ease-in-out;
  transition-delay: .5s;

}
.textCard:hover{
  transform: scale(1.1);
}





.cardbutton{
  border: 1px solid #1d1d1d;
}
.cardbutton:hover{
  background-color: var(--secondray-maincolor);
  border-style: none;
  
}

.demobox{
display: flex;
align-items: center;
}
.infobox1 {
  border-radius: 10px;
  background-color: #1d1d1d;
  color: white;
  padding: 5px 10px 5px 50px;
  position: absolute;
  left:-130px;
  bottom: 5x;
}

.infobox2 {
  border-radius: 10px;
  background-color: #1d1d1d;
  color: white;
  padding: 5px 60px 5px 10px;
  position: absolute;
  right: -160px;
  bottom: 5x;
}

.codebox {
  display: flex;
  align-items: center;
}
/* .projectCard:hover{
  box-shadow:rgba(245, 101, 57, 0.3) 5px 10px 30px 10px;
  

} */
  
.projectCard:hover .codebox{
  animation:movebox1  1s ease-in-out both  ;
      animation-delay: 0ms;
      opacity: 1;
  
  }
  .projectCard:hover .imageCard::before{
    transform: translateY(100%);

  }
  .projectCard:hover .demobox{
    animation:movebox2 1s ease-in-out both;
    animation-delay: 0ms;
    opacity: 1;

  }
  .projectCard:hover .textCard{
    transform: translateX(140px);
  }



@keyframes movebox1{
  0%{
    opacity: 0;
    transform: translateX(0);
  }
  
  
  100% {
    opacity: 1;
    transform: translateX(-100px);
  }
}

@keyframes movebox2 {
  0% {
    opacity: 0;
    transform: translateX(0);
  }


  100% {
    opacity: 1;
    transform: translateX(90px);
  }
 
}




/* #############contact##############3 */
.iconContact{
  background-color: var(--secondray-maincolor);
  cursor: pointer;
}
.iconContact:hover{
  color: var(--secondray-maincolor);
  background-color: white;
  transition: all .5s ease-in-out;
  transform: scale(1.3);
}
